<div class="row">
  <div class="col-sm-12">
    <h3>Add a Spectacle</h3>
  </div>
</div>

<form action="/spectacles/create" class="col-sm-4">

    <p class="form-group">Brand: <input autofocus class="form-control" name="brand"></p>

    <p class="form-group">Price: <input class="form-control" name="price"></p>

    <p class="form-group">Designer: 
    
      <select name="author_id">
        
        <% for designer in Designer.all %>
          <option value="<%= designer.id %>">
            <%= designer.name %>
          </option>
        <% end %>
        
      </select>
    
    
    
    </p>

    <p class="form-group">Link to Photo: <input class="form-control" name="photo_url"></p>

    <p class="form-group">Summary:
      <textarea rows="5" class="form-control" name="summary"></textarea>
    </p>

    <button class="btn btn-primary">Add This Spectacle</button>
    or
    <a href="/">Cancel</a>

</form>
